/* general purpose */
html, body {
    padding: 0;
    margin: 0;
    cursor: default;
    overflow-x: hidden;
}

.fixed{position: fixed; width: 100%; bottom: 0; left: 0;}

/*** adds the sliding animation to the page ***/
.panel{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
    margin-left: -150%;
    z-index:999;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel:target{
    margin-left: 0%;
    background-color: #b1e583;
}

/*** splash page ***/
.splash, .app-page{width: 100%; height: 100%; margin:0; overflow: hidden;}
.overlay{background: #000; opacity: .7; position: fixed; top: 0; left: 0; z-index: 99; display: none;}

/** logo corrections **/
img.logo{
    /*margin: auto 20%;*/
    max-width: 320px;
}

/******* Colors *******/
.red{color: #e74c3c}
.orange{color: #f39c12}
.green{color: #2ecc71}
.yellow{color: #f1c40f}
.blue{color: #3498DB}
/*.white{color: #fefefe}*/
.grey{color: #bdc3c7}

/****** Background colors *************/
.red-bg{background: #e74c3c}
.orange-bg{background: #f39c12}
.green-bg{background: #2ecc71}
.yellow-bg{background: #f1c40f}
.blue-bg{background: #3498DB}
.grey-bg{color: #bdc3c7}

/*** list-style ***/
ul{width: 100%; list-style-type: none;}
ul li{padding: 1em; border-bottom: #bdc3c7; color: black;}