/* general purpose */
html, body {
    padding: 0;
    margin: 0;
    cursor: default;
    overflow-x: hidden;
}
.fixed{position: fixed; width: 100%; bottom: 0; left: 0;}
.hidden{display: none;}

/* ---------- PAGE TRANSITIONS --------- */
/*** adds the sliding animation to the page ***/
.panel{
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
    margin-left: -150%;
    z-index:999;
    overflow-x: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel:target{
    margin-left: 0%;
    background-color: #b1e583;
}

/*** splash page, or app full page rendering ***/
.splash, .app-page{width: 100%; height: 100%; margin:0; overflow: hidden;}
.overlay{background: #000; opacity: .7; position: fixed; top: 0; left: 0; z-index: 99; display: none;}

/** logo corrections **/
img.logo{
    /*margin: auto 20%;*/
    width: 60%;
    margin-left: 20%;
}

/****** Background colors: helpful *************/
.red-bg{background: #e74c3c}
.orange-bg{background: #f39c12}
.green-bg{background: #2ecc71} /* PS --- can be used inside list tags to give them background colors */
.yellow-bg{background: #f1c40f}
.blue-bg{background: #3498DB}
.grey-bg{background: #bdc3c7}
[class$="-bg"]{color: #fefefe;}

.red-text{color: #e74c3c}
.orange-text{color: #f39c12}
.green-text{color: #2ecc71} /* PS --- can be used inside list tags to give them color colors */
.yellow-text{color: #f1c40f}
.blue-text{color: #3498DB}
.purple-text{color: #8e44ad;}
.grey-text{color: #bdc3c7}
.white{color: #fefefe;}

/* My own css */
.small-padding{padding: 0.3em;}
div[data-part="plateno"] span{color: #e74c3c;}
