/*BRAND FONT*/
 @font-face {
    font-family:'Raleway';
    src: local('Raleway Regular'), local('Raleway'), url('Raleway-Light.ttf') format('truetype');
}
/* general purpose */
 body {
    font-family:"raleway", sans-serif;
    width: 100%;
    margin: auto;
    max-width: 1900px;
    min-width: 800px;
    margin:auto;
    cursor: default;
    overflow-x: hidden;
}
body {
    font-weight: 500;
    font-size: 1em;
    color: #7f8c8d
}
.wf-active body {
    font-family:'raleway', sans-serif;
}
a {
    text-decoration: none
}
.align-center {
    text-align: center;
}
/******* Colors *******/
 .red {
    color: #e74c3c
}
.orange {
    color: #f39c12
}
.green {
    color: #2ecc71
}
.yellow {
    color: #f1c40f
}
.blue {
    color: #3498DB
}
.white {
    color: #fefefe
}
.grey {
    color: #bdc3c7
}
/****** Background colors *************/
 .red-bg {
    background: #e74c3c
}
.orange-bg {
    background: #f39c12
}
.green-bg {
    background: #2ecc71
}
.yellow-bg {
    background: #f1c40f
}
.blue-bg {
    background: #3498DB
}
.grey-bg {
    color: #bdc3c7
}
/********* OTHER DEFAULTS ******/
 .line {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%
}
.line img {
    height: 100%
}
.space {
    margin-top: 10%
}
.left {
    float: left
}
.right {
    float: right
}
.padding {
    padding: 10px
}
.small-padding {
    padding: 5px
}
.faded {
    opacity: 0.4
}
.largetext {
    font-size: 1.5em;
    padding: 0;
    margin: 0
}
.br {
    margin: 15px
}
.clear {
    clear: both;
}
.span {
    width: 100px
}
.span-1 {
    width: 200px
}
.span-2 {
    width: 300px
}
.span-3 {
    width: 400px
}
.span-4 {
    width: 100%
}
.uppercase {
    text-transform: uppercase
}
.border {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px
}
.curves {
    border-radius: 5px
}
.link {
    cursor: pointer;
}
.hide {
    display: none
}
.normal {
    font-weight: normal
}
.positionfixed {
    position: fixed;
    top: 0;
    left: 0;
}
/*THE SIGN UP FORM*/
#signupmodal{
    height: 100%;
    width: 100%;
}
.registration-form{width: 95%; margin: 5em auto;}
